

.create {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
}

.page-title {
    text-align: center;
    font-family:'Raleway', sans-serif;
    color: #443742;
    font-size: 45px;

}

#eventDate {
    display: flex;
    justify-content: center;
}

.drop-down {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 40px;
}

.inputs {
    margin: 10px;
}

#create-form {
    display: flex;
    justify-content: center;
    margin: 0 ;
}

.form-control {
    height: 40px;
}

#create-submit-btn {
    display: flex;
    justify-content: center;
}

.check-in-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-input {
    width: 65%;
    border: 0; 
    padding: 4px 0; 
    border-bottom: 1px solid #443742; 
    background-color: transparent;
    transition: 0.4s;
    
}
.form-input:focus {
    text-underline-position: below;
}

.comment-input {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.photo-input {
    margin: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #697268; 
    color: white;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
} 

.button:hover {
    background-color: #59656F;
    box-shadow: 2px 2px 4px #697268;
    font-size: 22px;
}

.input-title {
    font-family:'Raleway', sans-serif;
    color: #443742;
}

.eventDetail-box {
    font-family:'Raleway', sans-serif;
    border:none;
    border-radius: 8px;
    background: rgb(68,55,66);
    background: linear-gradient(90deg, rgba(68,55,66,0.7525385154061625) 0%, rgba(105,114,104,0.469625350140056) 100%);
    color: white;
}
.eventDetail-box:hover {
    box-shadow: 2px 2px 4px #443742;
}
.event-detail {
    margin: 5px;
    padding: 2px;
    font-size: 20px;
}

.label {
    margin: 5px;
    padding: 2px;
    align-items: center;
    padding: 10px;
    font-size: 20px;
} 

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background-color: lightgray;
}

.event-title {
    font-size: 45px;
    color: #59656f;
    font-family: 'Spartan', sans-serif;
}

.feedback-item {
    width: 50%;
    border: none;
}

.feedback-box {
    margin: 30px;
    padding: 10px;
}

.event-buttons {
    margin: 10px;
    padding: 10px;
}

.feedback-list {
    text-decoration: underline;
}

/* .images-array {

} */