.checkin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchCheckinForm {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%; 
}

.form-input {
    margin: 10px;
    font-size: 22px;
}

.inputs {
    display: flex;
    justify-content: center;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

